aside{
    grid-area: aside;
    background-color: black;
}
aside h2{
    text-align: center;
}
aside h2, aside p{
    color: white;
    padding: 0 15px;
}
aside ul{
    list-style-image: url("../images/nuvem2.png");
}
aside ul li{
    color: white;
}
body{
    background-color: rgb(165, 17, 17);
    display: grid;
    cursor: url("../images/kunai\ \(1\).png"),default;
    font-family: 'Permanent Marker', cursive;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 70vh 90vh 10vh;
margin: 0;                       
}
body::-webkit-scrollbar{
    width: 0px; /* Remove scrollbar space*/
    background: transparent; /* Optional: just make scrollbar invisible*/
}
footer{
    grid-area: footer;
}
header{
    background-image: url("../images/123.png");
    background-repeat: no-repeat;
    grid-area: header;
    margin-top: 15px;
    margin-left: 15px;
    

}
nav{
    align-items: center;
    background-color:black;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav a{
    color: white;
    cursor: url("../images/kunai\ \(1\).png"),default;
    text-decoration: none;
}
nav a:hover{
    color: rgb(165, 17, 17)
}
nav img{
    height: 45px;
}
section{
    grid-area: section;
}