aside{
    grid-area: aside;
}
body{
    display: grid;
    font-family: 'Permanent Marker', cursive;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 23vh 60vh 10vh;
margin: 0;                       
}
footer{
    grid-area: footer;
}
header{
    grid-area: header;
}
nav{
    align-items: center;
    background-color:black;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(165, 17, 17)
}
nav img{
    height: 45px;
}
section{
    grid-area: section;
}